<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:stf="http://www.stf.jus.br/custom-components">

	<s:decorate id="alterarListaTextos"
		template="/acoes/support/action.template.xhtml">
		<ui:param name="facetName" value="principal" />
		<ui:define name="descricao">
			Alterar Lista de Processos
		</ui:define>
		<ui:define name="conteudo">
			<s:decorate template="/common/decorators/edit.xhtml"
				style="margin-top: 5px">
				<ui:define name="label">Nome:</ui:define>
				<h:inputText value="#{actionFacesBean.nomeNovaLista}"
					required="true"
					style="width: 250px;" />
			</s:decorate>
			<s:decorate template="/common/decorators/edit.xhtml"
				style="margin-top: 5px">
				<ui:define name="label">Ativa:</ui:define>
				<h:selectBooleanCheckbox value="#{actionFacesBean.ativa}" />
			</s:decorate>
		</ui:define>
		<ui:define name="botoes">
			<a:commandButton value="Gravar"
				action="#{actionFacesBean.execute}"
				reRender="actionModalPanel"
				oncomplete="showActionPanel('panelItem', #{actionFacesBean.definition.width}, #{actionFacesBean.definition.height})"
				eventsQueue="ajaxQueue" ignoreDupResponses="true" />
		</ui:define>
	</s:decorate>

	<s:decorate template="/acoes/support/action.template.xhtml">
		<ui:param name="facetName" value="warnings"/>
		<ui:define name="descricao">
			<h:graphicImage value="/common/images/warning.gif"/>&nbsp;&nbsp;Erro ao alterar Lista de Processos
		</ui:define> 
		<ui:define name="conteudo">
			<stf:messages level="INFO" />
		</ui:define>
		<ui:define name="botoes">
           	<a:commandButton value="Voltar" action="#{actionFacesBean.voltar}" reRender="actionModalPanel" oncomplete="showActionPanel('panelItem', #{actionFacesBean.definition.width}, #{actionFacesBean.definition.height})" eventsQueue="ajaxQueue"
							ignoreDupResponses="true"/>
		</ui:define>
	</s:decorate>
</ui:composition>
