<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:stf="http://www.stf.jus.br/custom-components">

	<s:decorate id="novaListaProcessos"
		template="/acoes/support/action.template.xhtml">
		<ui:param name="facetName" value="principal" />
		<ui:define name="descricao">
			Elaborar Lista de Processos
		</ui:define>
		<ui:define name="conteudo">
			<s:decorate template="/common/decorators/edit.xhtml">
	            <ui:define name="label">Lista:</ui:define>
				<h:selectOneMenu id="lista" value="#{actionFacesBean.idListaProcessos}" required="true" style="width: 210px;">
					<f:selectItems value="#{actionFacesBean.listasDisponiveis}"/>
					<a:support  event="onchange" reRender="nomePanel, panelProcessoIncluso" eventsQueue="ajaxQueue" action="#{actionFacesBean.carregarListaProcessos}"
							ignoreDupResponses="true"/>
				</h:selectOneMenu>
			</s:decorate>
			<a:outputPanel id="nomePanel">
				<h:panelGroup rendered="#{actionFacesBean.idListaProcessos == -1}">
					<s:decorate template="/common/decorators/edit.xhtml">
			            <ui:define name="label">Nova Lista:</ui:define>
			            <h:inputText value="#{actionFacesBean.nomeNovaLista}" maxlength="80" style="width: 250px;"/>
			        </s:decorate>
		        </h:panelGroup>
	        </a:outputPanel>
	        <a:outputPanel id="panelProcesso">
				<s:decorate template="/common/decorators/edit.xhtml">
					<ui:define name="label">Processo:</ui:define>
					<h:inputText id="identificacaoProcesso"
						value="#{actionFacesBean.identificacaoProcesso}"
						onkeyup="susgestionEmptyValue(#{rich:component('sgBoxProcessoElaborarLista')},this)" 
						onclick="susgestionEmptyValue(#{rich:component('sgBoxProcessoElaborarLista')},this)"/>
					<rich:suggestionbox id="sgBoxProcessoElaborarLista"
						suggestionAction="#{incidenteFacesBean.searchWithoutFake}"
						for="identificacaoProcesso" var="result" minChars="1"
						fetchValue="#{result.identificacao}"
						nothingLabel="Nenhum Objeto Incidente encontrado." width="350"
						height="100">

						<a:support event="onselect"
							action="#{actionFacesBean.incluirProcessoSelecionado(result)}"
							reRender="panelProcessoIncluso, panelProcesso"
							focus="identificacaoProcesso" eventsQueue="ajaxQueue"
							ignoreDupResponses="true" />

						<h:column>
							<h:outputText rendered="#{result.eletronico}" value="e"
								styleClass="vermelho" />
							<h:outputText value="#{result.identificacao}"
								styleClass="oiSuggestion" />
							<h:outputText value=" -> " />
							<h:outputText value="#{result.nomeRelator}"
								styleClass="#{(result.idRelator != userFacesBean.principal.ministro.id)? 'oiSuggestion':'green'}" />
						</h:column>
					</rich:suggestionbox>
				</s:decorate>
			</a:outputPanel>
			<a:outputPanel id="panelProcessoIncluso" >
				<div style="height: 200px; overflow: auto;">
					<div style="border: 1px solid #006699; border-top: none;">
						<rich:dataTable	id="tbProcessosLista"
							var="processoValido"
							value="#{actionFacesBean.processosParaSelecao}"
							rowClasses="dr-table-row-odd, dr-table-row-even"
							styleClass="data-table">
							<rich:column styleClass="dr-table-firstcol dr-table-col-center" headerClass="dr-table-firstcol dr-table-col-center largura20px">
								<f:facet name="header">
									<a:commandButton image="/common/images/setabaixo.gif"
										action="#{actionFacesBean.selectAll}"
										eventsQueue="ajaxQueue"
										ignoreDupResponses="true"
										reRender="panelProcessoIncluso"  />
								</f:facet>
								<h:selectBooleanCheckbox styleClass="Checkbox"
									value="#{processoValido.selected}" />
							</rich:column>
							<rich:column styleClass="dr-table-lastcol" headerClass="dr-table-lastcol">
								<f:facet name="header">
									<h:outputText value="Processo" />
								</f:facet>
								<h:outputText value="#{processoValido.identificacao}" />
							</rich:column>
						</rich:dataTable>
					</div>
				</div>
			</a:outputPanel>
		</ui:define>
		<ui:define name="botoes">
			<a:commandButton value="Remover"
				action="#{actionFacesBean.excluirProcessosSelecionados}"
				reRender="panelProcessoIncluso" eventsQueue="ajaxQueue"
				ignoreDupResponses="true"
				style="float: left;"/>
			<a:commandButton value="Gravar"
				action="#{actionFacesBean.execute}"
				reRender="actionModalPanel"
				oncomplete="showActionPanel('panelItem', #{actionFacesBean.definition.width}, #{actionFacesBean.definition.height})"
				eventsQueue="ajaxQueue" ignoreDupResponses="true" />
		</ui:define>
	</s:decorate>
	
	<s:decorate template="/acoes/support/action.template.xhtml">
		<ui:param name="facetName" value="warnings"/>
		<ui:define name="descricao">
			<h:graphicImage value="/common/images/warning.gif"/>&nbsp;&nbsp;Erro ao gravar Lista de Processos
		</ui:define> 
		<ui:define name="conteudo">
			<stf:messages level="INFO" />
		</ui:define>
		<ui:define name="botoes">
           	<a:commandButton value="Voltar" action="#{actionFacesBean.voltar}" reRender="actionModalPanel" oncomplete="showActionPanel('panelItem', #{actionFacesBean.definition.width}, #{actionFacesBean.definition.height})" eventsQueue="ajaxQueue"
							ignoreDupResponses="true"/>
		</ui:define>
	</s:decorate>

</ui:composition>
