<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib">

	<div class="prop-btn">
		<div class="name name-btn" style="margin-top: 6px;"><ui:insert name="label" /></div>
		<div class="value value-btn"><div class="value-texto-btn"><ui:insert /></div><div class="value-btn-btn"><ui:insert name="botao" /></div></div>
		<div class="clear"></div>
	</div>

</ui:composition>
