/* CSS Reset */
div, form, fieldset, legend, p, 
table, tr, td, ul, ol, a	{ vertical-align: baseline; font-weight: inherit; font-family: inherit;
							  font-style: inherit; font-size: inherit; border: 0; padding: 0; margin: 0;}

label						{ vertical-align: middle; font-weight: inherit; font-family: inherit;
							  font-style: inherit; font-size: inherit; border: 0; padding: 0; margin: 0;}
							  
html, body 					{ margin: 0px; padding: 0px; height: 100%;}
body						{ overflow-y: scroll; min-width: 768px; width:100%;font-family: Arial, Helvetica, Tahoma, sans-serif; font-size: 12px;}

table						{ border-collapse: collapse; border-spacing: 0; empty-cells:show; }
th, td						{ text-align: left; vertical-align: middle; }

h1, h2, h3, h4, h5, h6,
caption						{ font-weight:normal; }

ul, ol						{ list-style-type: none; list-style-position: inside; }

input, select, textarea		{ font-weight: normal; font-style: normal; font-family: inherit; text-decoration: none; vertical-align: middle; margin-top: 0; margin-bottom: 0;
							  box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

img							{ border: 0; }

a							{ color: #1C4588;  text-decoration: none;}
a:hover						{ text-decoration: underline; }

.alinharNoMeio input 		{ margin: 1px 0px 0px 10px; vertical-align: middle; }